/* Datos Personales: Daniel González Pérez - UO288047 */
/* Estilos generales del proyecto MotoGP-Desktop */


/*Especificidad 001 */
body {
    font-family: Tahoma, Arial, sans-serif;
    color: #3C0B0B;
    background-color: #F5F0E5;
}

/*Especificidad 002 */

body h2 {
    color: #881B1B; /* ADVERTENCIA comprobada, toma mediante herencia el color de fondo de <body>*/
}

/*Especificidad 001 */
header{
    background-color: #3C0B0B; /* ADVERTENCIA comprobada, toma mediante herencia el color de primer plano de <body>*/
}


/*Especificidad 002 */
header a{
    color: #DEA296; /* ADVERTENCIA comprobada, toma mediante herencia el color de fondo de <header>*/
    text-decoration-line: none;
}


/*Especificidad 011*/
a.active{
    color: #FFFFFF;  /* ADVERTENCIA comprobada, toma mediante herencia el color de fondo del <header>*/
    font-weight: bold;
}

/*Especificidad 002*/
header+p{
    font-size: 0.7em;
}

/*Especificidad 003*/
header+p a{
    color: #3C0B0B; /*ADVERTENCIA comprobada, toma mediante herencia el color de fondo del elemento <body>*/
}