/* Datos Personales: Daniel González Pérez - UO288047 */
/* Estilos para el juego de memoria con cartas MotoGP-Desktop */

/*Especificidad 001 */
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

/*Especificidad 001 */
h2{
    grid-column: 1  / span 4;
    text-align: center;
}